<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviando un archivo</title>
</head>
<body>
    <h1>Hola mundo, hoy vas a ser mi puta</h1>
    <h2>Esto va por buen camino papa</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dolores molestiae magni quo ad, harum omnis sed. Ullam debitis tempore beatae quisquam magnam architecto, consectetur laudantium
     laboriosam labore nesciunt eum!</p>
    


</body>
</html>